#posts {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
}

#posts h3 {
  text-align: center;
  text-transform: capitalize;
}

ul#posts {
  padding: 0;
}

#posts .post {
  width: 30%;
  min-width: 250px;
  /* max-width: 300px; */
  border: 1px solid black;
  margin: 5px auto;
  padding: 10px;
  user-select: none;
}

#posts .post p {
  text-indent: 15px;
  text-align: justify;
}
